* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url(../fonts/HelveticaNeueCyr-Medium.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 800;
  src: url(../fonts/HelveticaNeueCyr-Bold.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: url(../fonts/HelveticaNeueCyr-Light.woff);
}
.menu__link-mobile {
  display: none;
}
.menu__link-block {
  display: none;
}
.menu__burger {
  z-index: 10;
  position: absolute;
  right: 17px;
  top: 70px;
  width: 94px;
  opacity: 0;
  transition-duration: 600ms;
}
.menu__burger-item {
  text-align: center;
  background: #2A2967;
  margin: 5px 0 0 0;
  padding: 1.5px 0;
  border-radius: 18px;
  border: 2px solid #AFE6DF;
}
.menu__burger-item a {
  font-size: 13px;
  font-weight: 400;
  color: #AFE6DF;
  font-family: 'Helvetica Neue';
}
.container {
  margin: auto auto;
}
.header__menu.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #afe6df 44%, #2a2967 33%);
  padding: 9px 75px;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__item-item a {
  font-size: 35px;
  color: #AFE6DF;
  font-family: 'Helvetica Neue';
  font-weight: 800;
  margin: 0 0 0 20px;
}
.menu__item-item a:hover {
  text-decoration: underline;
}
.menu__item-item.active {
  text-decoration: underline;
}
.header__content {
  position: relative;
}
.header__back {
  position: absolute;
  z-index: 1;
  max-width: 90%;
  height: 1250px;
  left: 50%;
  top: 30px;
  transform: translate(-50%);
}
.header__title {
  text-align: center;
  padding: 40px 0 0 0;
  z-index: 2;
  position: relative;
}
.header__title h1 {
  font-size: 100px;
  line-height: 133px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #2A2967;
}
.header__button {
  text-align: center;
  margin: 250px 0 0 0;
  position: relative;
  z-index: 2;
}
.header__button a {
  color: #FFFFFF;
  background-color: #2A2967;
  padding: 15px 30px;
  border-radius: 18px;
  font-size: 35px;
  font-weight: 800;
  font-family: 'Helvetica Neue';
}
.header__subtitle {
  text-align: center;
  margin: 110px 0 0 0;
  padding: 0 0 100px 0;
  z-index: 2;
  position: relative;
}
.header__subtitle h1 {
  font-size: 100px;
  line-height: 133px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #2A2967;
}
@media (max-width: 1680px) {
  .menu__logo-item {
    width: 250px;
  }
  .menu__item-item a {
    font-size: 24px;
  }
  .header__back {
    height: 770px;
  }
  .header__title h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .header__button {
    margin: 180px 0 0 0;
  }
  .header__button a {
    padding: 10px 20px;
    font-size: 25px;
  }
  .header__subtitle {
    margin: 70px 0 0 0;
  }
  .header__subtitle h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (max-width: 1340px) {
  .menu__logo-item {
    width: 200px;
  }
  .menu__item-item a {
    font-size: 18px;
  }
  .header__back {
    height: 600px;
  }
  .header__button {
    margin: 130px 0 0 0;
  }
  .header__title h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .header__subtitle h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 570px) {
  .header__content {
    background: none;
  }
  .header {
    background: url(../img/header-back2.png) no-repeat center center / 570px;
  }
  .header__back {
    height: 220px;
  }
  .header__title {
    padding: 35px 0 0 0;
  }
  .header__title h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .header__button {
    margin: 30px 0 0 0;
  }
  .header__button a {
    padding: 5px;
    font-size: 10px;
  }
  .header__subtitle {
    margin: 28px 0 0 0;
    padding: 0 0 30px 0;
  }
  .header__subtitle h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .header__menu.menu {
    background: none;
    padding: 39px 17px 0 17px;
  }
  .menu__link {
    display: none;
  }
  .menu__link-mobile {
    display: block;
    width: 90px;
    background-color: #2A2967;
    text-align: center;
    border: 2px solid #AFE6DF;
    border-radius: 18px;
    height: 20px;
    padding: 1.4px 0 0 0;
    z-index: 10;
  }
  .menu__link-mobile a {
    margin: 0 6px 0 0;
    font-size: 13px;
    font-weight: 400;
    color: #AFE6DF;
    font-family: 'Helvetica Neue';
  }
  .menu__link-block {
    display: block;
    position: absolute;
    width: 125px;
    height: 32px;
    background-color: #4192DF;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .menu__logo {
    width: 90px;
    padding: 1px 0;
    background-color: #AFE6DF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2A2967;
    border-radius: 18px;
  }
  .menu__logo-item {
    width: 68px;
  }
}
