* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url(../fonts/HelveticaNeueCyr-Medium.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 800;
  src: url(../fonts/HelveticaNeueCyr-Bold.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: url(../fonts/HelveticaNeueCyr-Light.woff);
}
body {
  background: url(../img/body-back.png) no-repeat center top / 100%;
}
.about {
  background: url(../img/about-head-back.png) no-repeat center center / 100%;
}
.about .container {
  position: relative;
  max-width: 1712px;
  overflow: hidden;
  margin: auto auto;
  text-align: center;
  padding: 50px 0 80px 0;
}
.about__back {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 100%;
  height: 770px;
  z-index: 1;
}
.about__image {
  position: absolute;
  top: 103px;
  left: 50%;
  transform: translate(-50%);
  max-width: calc(100% - 75px);
  height: 565px;
  z-index: 0;
}
.about__title {
  position: relative;
  z-index: 2;
}
.about__title h1 {
  font-size: 100px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #2A2967;
}
.about__play {
  position: relative;
  z-index: 2;
  margin: 60px 0 60px 0;
  cursor: pointer;
}
.about__subtitle {
  position: relative;
  z-index: 2;
}
.about__subtitle h1 {
  font-size: 100px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #2A2967;
}
@media (max-width: 1680px) {
  .about__back {
    height: 670px;
  }
  .about__image {
    height: 488px;
    top: 100px;
  }
  .about__title h1 {
    font-size: 70px;
  }
  .about__play {
    margin: 100px 0 100px 0;
  }
  .about__play img {
    width: 120px;
  }
  .about__subtitle h1 {
    font-size: 70px;
  }
}
@media (max-width: 1340px) {
  .about__back {
    height: 530px;
  }
  .about__image {
    height: 385px;
    top: 85px;
  }
  .about__title h1 {
    font-size: 50px;
  }
  .about__play {
    margin: 100px 0 85px 0;
  }
  .about__play img {
    width: 80px;
  }
  .about__subtitle h1 {
    font-size: 50px;
  }
}
@media (max-width: 570px) {
  body {
    background: url(../img/about-mobile-back.png) no-repeat center 10px/500px, url(../img/body-back2.png) no-repeat center top / cover;
  }
  .about {
    background: none;
  }
  .about .container {
    padding: 40px 0 60px 0;
  }
  .about__back {
    height: 260px;
  }
  .about__image {
    max-width: calc(100% - 22px);
    height: 190px;
    top: 55px;
  }
  .about__title h1 {
    font-size: 25px;
  }
  .about__play {
    margin: 20px 0 55px 0;
  }
  .about__play img {
    width: 45px;
  }
  .about__subtitle h1 {
    font-size: 25px;
  }
}
.info .container {
  max-width: 1712px;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 30px;
}
.info__image {
  width: 45%;
  position: relative;
  z-index: 2;
  border: 5px solid #AFE6DF;
  border-radius: 18px;
}
.info__image img {
  max-width: 100%;
  border-radius: 18px;
}
.info {
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.info .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
}
.info .slick-dots li {
  background: #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 3px;
}
.info .slick-dots li.slick-active {
  background: #AFE6DF;
}
.info .slick-dots li button {
  font-size: 0;
  border: none;
  background: none;
}
.info__text {
  position: relative;
  z-index: 1;
  background: #2A2967;
  border: 5px solid #AFE6DF;
  border-radius: 18px;
  padding: 80px 50px 80px 100px;
  width: 60%;
  margin: 0 0 0 -90px;
}
.info__title {
  font-size: 65px;
  color: #AFE6DF;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
.info__subtitle {
  margin: 20px 0 40px 0;
  font-size: 25px;
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  font-weight: 400;
}
.info__button {
  font-size: 25px;
  color: #AFE6DF;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
@media (max-width: 1680px) {
  .info .slick-dots {
    bottom: -18px;
  }
  .info .slick-dots li {
    width: 30px;
    height: 30px;
  }
  .info__text {
    padding: 50px 50px 50px 100px;
    width: 60%;
  }
  .info__image {
    width: 28%;
  }
  .info__title {
    font-size: 45px;
  }
  .info__subtitle {
    font-size: 18px;
  }
  .info__button {
    font-size: 18px;
  }
}
@media (max-width: 1470px) {
  .info__image {
    width: 36%;
  }
}
@media (max-width: 1340px) {
  .info__text {
    padding: 40px 50px 40px 100px;
    width: 50%;
  }
  .info__image {
    width: 35%;
  }
  .info__title {
    font-size: 35px;
  }
  .info__subtitle {
    font-size: 15px;
  }
  .info__button {
    font-size: 15px;
  }
  .info__block-pag {
    width: 100px;
    top: -30px;
  }
  .info__pagination-item {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1170px) {
  .info__image {
    width: 40%;
  }
}
@media (max-width: 570px) {
  .info .container {
    padding: 30px 10px;
  }
  .info .slick-dots {
    bottom: -9px;
  }
  .info .slick-dots li {
    width: 15px;
    height: 15px;
  }
  .info__image {
    width: 50%;
    border: 2px solid #AFE6DF;
  }
  .info__text {
    padding: 40px 10px 40px 50px;
    border: 2px solid #AFE6DF;
    width: 40%;
    margin: 0 0 0 -40px;
  }
  .info__title {
    font-size: 18px;
  }
  .info__subtitle {
    font-size: 10px;
    margin: 10px 0 10px 0;
    line-height: 10px;
  }
  .info__button {
    font-size: 10px;
  }
}
.slid {
  padding: 50px 0;
  background: url(../img/slide-decor1.svg) no-repeat center top / 300px, url(../img/slide-decor2.svg) no-repeat 0 99%/300px, url(../img/slide-decor3.svg) no-repeat 99% 99%/300px;
}
.slider {
  background: #2A2967;
  padding: 60px 0;
  position: relative;
}
.slider__item {
  text-align: center;
}
.slider__item img {
  max-width: 100%;
}
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
}
/* Слайд */
.slider .slick-slide {
  padding: 0 20px;
}
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 75px;
  border: none;
  cursor: pointer;
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  background: url(../img/prev-arrow.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  background: url(../img/next-arrow.png) 0 0 / 100% no-repeat;
}
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
@media (max-width: 1680px) {
  .slick-arrow {
    width: 40px;
    height: 60px;
  }
}
@media (max-width: 1340px) {
  .slick-arrow {
    width: 30px;
    height: 45px;
  }
}
@media (max-width: 570px) {
  .slid {
    padding: 8px 0;
    background: url(../img/slide-decor1.svg) no-repeat center top / 50px, url(../img/slide-decor2.svg) no-repeat 0 99%/50px, url(../img/slide-decor3.svg) no-repeat 99% 99%/50px;
  }
  .slider {
    padding: 10px 0;
  }
  .slick-arrow {
    width: 10px;
    height: 15px;
    display: none;
  }
  .slider .slick-slide {
    padding: 0 5px;
  }
  .slick-arrow.slick-prev {
    display: none;
  }
  .slick-arrow.slick-next {
    display: none;
  }
}
.over__image {
  border: 5px solid #2A2967;
}
.over .slick-dots li.slick-active {
  background: #2A2967;
}
.over__text {
  background: #AFE6DF;
  border: 5px solid #2A2967;
}
.over__title {
  color: #2A2967;
}
.over__subtitle {
  color: #000000;
}
.over__button {
  color: #2A2967;
}
.over__pagination-item-active {
  background: #2A2967 !important;
}
@media (max-width: 570px) {
  .over__text {
    border: 2px solid #2A2967;
  }
  .over__image-item {
    border: none;
  }
  .over__image {
    border: 2px solid #2A2967;
  }
}
.person {
  background: #2A2967;
  padding: 40px 0 120px 0;
  margin: 0 0 120px 0;
}
.person .container {
  max-width: 1712px;
  margin: auto auto;
  padding: 0 30px;
}
.person__title {
  text-align: center;
  margin: 0 0 50px 0;
}
.person__title h1 {
  font-size: 65px;
  color: #D20768;
  font-weight: 200;
  font-family: 'Helvetica Neue';
}
.person__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person__human {
  max-width: 380px;
}
.human__image {
  position: relative;
}
.human__decor-1 {
  position: absolute;
  left: -15px;
  top: 30px;
}
.human__decor-2 {
  position: absolute;
  right: 5px;
  top: 310px;
}
.human__text {
  margin: 20px 0 0 0;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
.human__title {
  color: #D20768;
  font-size: 35px;
}
.human__subtitle {
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px 0 50px 0;
}
.human__button {
  color: #AFE6DF;
  font-size: 20px;
}
@media (max-width: 1680px) {
  .person__title h1 {
    font-size: 55px;
  }
  .human__title {
    font-size: 30px;
  }
  .human__subtitle {
    font-size: 18px;
  }
  .human__button {
    font-size: 18px;
  }
}
@media (max-width: 1340px) {
  .person {
    padding: 40px 0 80px 0;
  }
  .person__title h1 {
    font-size: 40px;
  }
  .human__title {
    font-size: 25px;
  }
  .human__subtitle {
    font-size: 15px;
  }
  .human__button {
    font-size: 15px;
  }
  .human__image-item {
    width: 300px;
  }
  .human__text {
    width: 300px;
  }
  .human__decor-1 {
    width: 50px;
  }
  .human__decor-2 {
    width: 150px;
    top: 250px;
  }
}
@media (max-width: 570px) {
  .person {
    padding: 30px 0;
    margin: 0 0 37px 0;
  }
  .person .container {
    padding: 0 10px;
  }
  .person__title {
    display: none;
  }
  .human__image-item {
    width: 100px;
  }
  .human__text {
    width: 100px;
    margin: 5px 0 0 0;
  }
  .human__title {
    font-size: 15px;
  }
  .human__subtitle {
    font-size: 10px;
    line-height: 10px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0 10px 0;
  }
  .human__button {
    font-size: 10px;
  }
  .human__decor-1 {
    width: 15px;
    top: 10px;
    left: -5px;
  }
  .human__decor-2 {
    width: 50px;
    top: 85px;
    right: 0;
  }
}
