* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url(../fonts/HelveticaNeueCyr-Medium.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 800;
  src: url(../fonts/HelveticaNeueCyr-Bold.woff);
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: url(../fonts/HelveticaNeueCyr-Light.woff);
}
.resente,
.popular {
  position: relative;
  z-index: 2;
}
.resente .container,
.popular .container {
  max-width: 1770px;
  margin: auto auto;
  padding: 120px 70px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular .container {
  padding: 0 70px 0 70px;
}
.resente__title,
.popular__title {
  text-align: center;
}
.resente__title h1,
.popular__title h1 {
  padding: 40px 0 10px 0;
  font-size: 100px;
  color: #D20768;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  background: url(../img/blue-block.png) no-repeat center center;
}
.popular__title h1 {
  background: url(../img/green-block.png) no-repeat center center;
}
.resente__slider,
.popular__slider {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1712px;
}
.slider__image {
  position: relative;
}
.slider__image img {
  max-width: 100%;
}
.slider__image-decor {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%);
}
.slider__text {
  max-width: 1712px;
  padding: 0 0 120px 0;
  margin: -5px 0 0 0;
  background-color: #2A2967;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 7px 3px -1px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 2;
}
.popular__slider-text {
  background-color: #AFE6DF;
}
.slider__pagination {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.slider__pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.popular__pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.slider__pagination-item.active {
  background-color: #AFE6DF;
}
.popular__pagination-item.active {
  background-color: #2A2967;
}
.slider__title {
  font-size: 65px;
  color: #AFE6DF;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 30px 0 0 20px;
}
.popular__slider-title {
  color: #2A2967;
}
.slider__subtitle {
  color: #FFFFFF;
  font-size: 25px;
  line-height: 29px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 10px 0 40px 20px;
  max-width: 90%;
}
.popular__slider-subtitle {
  color: #000000;
}
.slider__button {
  color: #2A2967;
  background-color: #AFE6DF;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 25px;
  padding: 8px;
  border-radius: 18px;
  margin: 0 0 0 20px;
}
.popular__slider-button {
  color: #AFE6DF;
  background-color: #2A2967;
}
.slider__decor1 {
  position: relative;
  height: 60px;
  width: 100%;
  background: #2A2967;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin: -15px 0 0 0;
  z-index: 1;
  box-shadow: 0px 7px 3px -1px rgba(0, 0, 0, 0.16);
}
.popular__slider-decor1 {
  background-color: #AFE6DF;
}
.slider__decor2 {
  position: relative;
  height: 50px;
  width: 100%;
  background: #2A2967;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin: -15px 0 0 0;
  z-index: 0;
  box-shadow: 0px 7px 3px -1px rgba(0, 0, 0, 0.16);
}
.popular__slider-decor2 {
  background-color: #AFE6DF;
}
.promo {
  position: relative;
  z-index: 2;
  margin: 30px 0 0 0;
  padding: 0 70px;
}
.promo .container {
  max-width: 1712px;
  margin: auto auto;
  background-color: #2A2967;
  border-radius: 18px;
  padding: 25px 0 50px 0;
  border: 4px solid #AFE6DF;
}
.promo__title {
  font-size: 65px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #AFE6DF;
  margin: 0 0 0 30px;
}
.promo__subtitle {
  font-size: 20px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 10px 0 30px 30px;
  color: #FFFFFF;
  max-width: 85%;
}
.promo__button {
  color: #2A2967;
  background-color: #AFE6DF;
  padding: 5px 10px;
  border-radius: 18px;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 0 30px;
}
.image {
  margin: -150px 0 120px 0;
  z-index: 1;
  position: relative;
}
.image__item {
  max-width: 100%;
}
@media (max-width: 1680px) {
  .resente__title h1 {
    font-size: 70px;
    background: url(../img/blue-block.png) no-repeat center center / 220px;
  }
  .popular__title h1 {
    font-size: 70px;
    background: url(../img/green-block.png) no-repeat center center / 220px;
  }
  .slider__text {
    padding: 0 0 80px 0;
  }
  .slider__pagination {
    width: 100px;
    top: -18px;
  }
  .slider__pagination-item {
    width: 30px;
    height: 30px;
  }
  .popular__pagination-item {
    width: 30px;
    height: 30px;
  }
  .slider__title {
    font-size: 45px;
  }
  .slider__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .slider__button {
    padding: 5px;
    font-size: 18px;
  }
  .promo__title {
    font-size: 40px;
  }
  .promo__subtitle {
    font-size: 18px;
  }
  .promo__button {
    font-size: 18px;
  }
}
@media (max-width: 1340px) {
  .resente .container {
    padding: 50px 70px 0 70px;
  }
  .resente__slider {
    margin: 50px 0 100px 0;
  }
  .slider__image-decor {
    width: 100px;
  }
  .resente__title h1 {
    font-size: 50px;
    background: url(../img/blue-block.png) no-repeat center center / 160px;
  }
  .popular__title h1 {
    font-size: 50px;
    background: url(../img/green-block.png) no-repeat center center / 160px;
  }
  .slider__text {
    padding: 0 0 50px 0;
  }
  .slider__title {
    font-size: 35px;
  }
  .slider__subtitle {
    font-size: 15px;
    line-height: 17px;
  }
  .slider__button {
    padding: 5px;
    font-size: 15px;
  }
  .slider__decor1 {
    height: 40px;
  }
  .slider__decor2 {
    height: 35px;
  }
  .promo__title {
    font-size: 35px;
  }
  .promo__subtitle {
    font-size: 15px;
  }
  .promo__button {
    font-size: 15px;
  }
}
@media (max-width: 570px) {
  .resente .container {
    padding: 35px 20px 0 20px;
  }
  .popular .container {
    padding: 0 20px 0 20px;
  }
  .promo {
    padding: 0 20px;
    margin: 0;
  }
  .promo .container {
    padding: 10px 0;
  }
  .image {
    margin: -80px 0 35px 0;
  }
  .resente__title h1 {
    font-size: 25px;
    background: url(../img/blue-block.png) no-repeat center center / 80px;
    padding: 30px 0 15px 0;
  }
  .popular__title h1 {
    font-size: 25px;
    background: url(../img/green-block.png) no-repeat center center / 80px;
    padding: 30px 0 15px 0;
  }
  .popular__slider {
    margin: 30px 0 30px 0;
  }
  .resente__slider {
    margin: 5px 0 35px 0;
  }
  .slider__image-decor {
    width: 50px;
  }
  .slider__pagination {
    width: 60px;
    top: -8px;
  }
  .slider__pagination-item {
    width: 15px;
    height: 15px;
  }
  .popular__pagination-item {
    width: 15px;
    height: 15px;
  }
  .slider__text {
    padding: 0 0 15px 0;
  }
  .slider__title {
    font-size: 18px;
    margin: 15px 0 0 10px;
  }
  .slider__subtitle {
    font-size: 10px;
    line-height: 10px;
    margin: 5px 0 20px 10px;
  }
  .slider__button {
    padding: 3px 5px;
    font-size: 10px;
    margin: 0 0 0 10px;
  }
  .slider__decor1 {
    height: 25px;
  }
  .slider__decor2 {
    height: 25px;
  }
  .promo__title {
    font-size: 20px;
    margin: 10px 0 0 10px;
  }
  .promo__subtitle {
    font-size: 10px;
    max-width: 95%;
    margin: 10px 0 20px 10px;
  }
  .promo__button {
    font-size: 10px;
    margin: 0 0 0 10px;
  }
}
